.board {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.square {
  width: 40px;
  height: 40px;
  color: #000;
  background-color: #e2e2e2;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  margin: 4px;
}

.status {
  color: #048e08;
}
