#root {
  margin: 0 auto;
  text-align: center;
}
.todo-list {
  margin: 1rem;
  padding: 2rem;
}

.add-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-todo input {
  width: 70%;
  border-radius: 5px;
  border: solid #7d7d7d 1px;
  padding: 0.4rem;
}
.todo-list button {
  background-color: #7b71d5;
  color: #fff;
  padding: 0.4rem;
  margin: 0.2rem;
}
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background-color: #dadada;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.task .todo-completed {
  color: #8c86a4;
  text-decoration: line-through;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
